<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteComplete">
	<test thread-count="5" name="TestCases">
		<classes>
			<class name="com.selenium.testcases.MercuryTest.Example">
				<methods>
					<include name="SetupTest"/>
					<include name="RegTestNG"/>
					<include name="SignInTestNG"/>
					<include name="OneWayTestNG"/>
					<include name="RoundTripTestNG"/>
					<include name="DeptRetnTestNG"/>
					<include name="CloseTestNG"/>
				</methods>
			</class>
		</classes>
	</test> <!-- TestCases -->
</suite> <!-- SuiteComplete -->
